body{
    background-color: #ffffff;
}
.header{
    font-weight: 600;
    font-size: xxx-large;
    color: #333232;
    font-family: 华文行楷, Serif, sans-serif;
    margin-top: 20px;
    margin-left: 100px;
}
.card-box{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

